<p class="border border-dark" id="burger-item">
    {{name}}

    <i class="fas fa-trash-alt float-right delete-burger" data-id="{{this.id}}"></i></i>
    {{#unless isDevoured}}
    <i class="fas fa-utensils float-right change-devour " data-id="{{id}}" data-newdevour=></i>
    {{/unless}}
</p>